In [1]:
import pandas as pd
import numpy as np
import sklearn as sk
import os
from os import listdir
import readInDataFiles

In [2]:
DTS2_10_23TireOnMTS = readInDataFiles.getMTSData("DTS 2-10-23 Tire On/MTS Data")
for DF in DTS2_10_23TireOnMTS:
    print(DF)

         Crosshead (in)        Load (lbf)        Time (sec)
1     0.339529777723035  5.12973609366264  11.5389995574951
2     0.339656312927956  5.18653263103351   11.548999786377
3     0.339914846608019  5.28674362892972  11.5590000152588
4      0.34015688047869  5.44558895398051  11.5690002441406
5     0.340375081291349  5.23102806870414  11.5790004730225
...                 ...               ...               ...
9702   2.27975666405648  699.883258775413  108.549003601074
9703   2.27995642174886  699.900273124134   108.55899810791
9704   2.28015632610621  699.869976606412  108.569000244141
9705   2.28035623046357  699.867012816634  108.579002380371
9706   2.28055613482092  699.994839972025  108.588996887207

[9706 rows x 3 columns]
         Crosshead (in)        Load (lbf)        Time (sec)
1      0.34084635251385   5.7201644382999   5.6100001335144
2     0.341002220713247  5.77343847378714  5.61999988555908
3     0.341260754393311  5.86734584414942  5.63000011444092
4     0.341489955078898  6.00215368495257   5.6399998664856
5     0.341697156018629  5.85464382670587  5.65000009536743
...                 ...               ...               ...
9847   2.31010340682165  699.991437102281  104.069999694824
9848   2.31030316451403   699.98666210764  104.080001831055
9849   2.31050306887139  699.959494034682  104.089996337891
9850   2.31070297322874  699.965805809207  104.099998474121
9851   2.31090463756576  700.006420706154  104.110000610352

[9851 rows x 3 columns]
         Crosshead (in)        Load (lbf)        Time (sec)
1     0.324189538268123  5.24459495362173  4.88700008392334
2     0.324382072710615  5.26261781414184  4.89699983596802
3     0.324585607026036  5.22469099562585  4.90700006484985
4     0.324794641277922  5.40875683385879  4.91699981689453
5     0.324996342281188  5.34847124014864  4.92700004577637
...                 ...               ...               ...
9439   2.21179827578424  699.977057233362  99.2669982910156
9440   2.21199994012127  699.934960441526  99.2770004272461
9441   2.21219793783398  699.971074768811  99.2870025634766
9442     2.212399602171  699.985564407722  99.2969970703125
9443   2.21259407992438  699.999450311678   99.306999206543

[9443 rows x 3 columns]
         Crosshead (in)        Load (lbf)        Time (sec)
1     0.335939529197892   6.7026037204985  4.11700010299683
2     0.336106397270218  6.63953014051357   4.1269998550415
3     0.336370430886745  6.74066089087969  4.13700008392334
4     0.336608798133107   6.8483851301642  4.14699983596802
5     0.336819665697147  6.75037853667259  4.15700006484985
...                 ...               ...               ...
9706   2.27699701593617  699.945004395771  101.166999816895
9707   2.27719501364888  699.968330519018  101.177001953125
9708   2.27739491800624  699.930953836827  101.186996459961
9709   2.27759467569862  699.907408173598  101.196998596191
9710   2.27779458005597  700.002908066418  101.207000732422

[9710 rows x 3 columns]
         Crosshead (in)        Load (lbf)        Time (sec)
1     0.321505092612402  4.26709231952857  5.66699981689453
2     0.321673793996882  4.29882570929141  5.67700004577637
3     0.321934160989101  4.37369527549894  5.68699979782104
4     0.322165194986843  4.43220096594445  5.69700002670288
5     0.322379729175192  4.37619554433442  5.70699977874756
...                 ...               ...               ...
9762   2.27376422661496  699.953456685136  103.277000427246
9763   2.27396413097231  699.933478546638  103.287002563477
9764   2.27416403532967  699.916299542929  103.296997070313
9765   2.27436393968702  699.906090933697  103.306999206543
9766   2.27456369737941  700.049560312911  103.317001342773

[9766 rows x 3 columns]

In [3]:
DTS2_10_23TireOnMocap = readInDataFiles.getMocapData("DTS 2-10-23 Tire On/Optitrack Data")
DTS2_10_23TireOnMocap[1].head(10)
#for DF in DTS2_10_23TireOnMocap:
    #print(DF)

Unlabeled 1235
X
Unlabeled 1235
Y
Unlabeled 1235
Z
Unlabeled 1236
X
Unlabeled 1236
Y
Unlabeled 1236
Z
Unlabeled 1237
X
Unlabeled 1237
Y
Unlabeled 1237
Z
Unlabeled 1238
X
Unlabeled 1238
Y
Unlabeled 1238
Z
Unlabeled 1231
X
Unlabeled 1231
Y
Unlabeled 1231
Z
Unlabeled 1232
X
Unlabeled 1232
Y
Unlabeled 1232
Z
Unlabeled 1233
X
Unlabeled 1233
Y
Unlabeled 1233
Z
Unlabeled 1234
X
Unlabeled 1234
Y
Unlabeled 1234
Z
Unlabeled 1227
X
Unlabeled 1227
Y
Unlabeled 1227
Z
Unlabeled 1228
X
Unlabeled 1228
Y
Unlabeled 1228
Z
Unlabeled 1229
X
Unlabeled 1229
Y
Unlabeled 1229
Z
Unlabeled 1230
X
Unlabeled 1230
Y
Unlabeled 1230
Z
Unlabeled 1239
X
Unlabeled 1239
Y
Unlabeled 1239
Z
Unlabeled 1240
X
Unlabeled 1240
Y
Unlabeled 1240
Z
Unlabeled 1241
X
Unlabeled 1241
Y
Unlabeled 1241
Z
Unlabeled 1242
X
Unlabeled 1242
Y
Unlabeled 1242
Z
Unlabeled 1219
X
Unlabeled 1219
Y
Unlabeled 1219
Z
Unlabeled 1220
X
Unlabeled 1220
Y
Unlabeled 1220
Z
Unlabeled 1221
X
Unlabeled 1221
Y
Unlabeled 1221
Z
Unlabeled 1222
X
Unlabeled 1222
Y
Unlabeled 1222
Z

,Frame,Time (sec),Unlabeled 1231 X,Unlabeled 1231 Y,Unlabeled 1231 Z,Unlabeled 1232 X,Unlabeled 1232 Y,Unlabeled 1232 Z,Unlabeled 1233 X,Unlabeled 1233 Y,Unlabeled 1233 Z,Unlabeled 1234 X,Unlabeled 1234 Y,Unlabeled 1234 Z
3,0,0.000000,15.094822,363.485168,133.272308,23.314857,113.798790,125.022560,16.597002,-206.439743,122.868553,10.931995,487.412384,47.026337
4,1,0.003000,15.095813,363.489838,133.275711,23.313484,113.801468,125.023232,16.600529,-206.444839,122.866158,10.941554,487.416992,47.043861
5,2,0.006000,15.091352,363.471619,133.268951,23.308558,113.799644,125.022057,16.600134,-206.440857,122.868927,10.955244,487.426697,47.072784
6,3,0.008000,15.089748,363.480347,133.275345,23.311380,113.801537,125.025497,16.597525,-206.446243,122.867264,10.967186,487.444794,47.118565
7,4,0.011000,15.095330,363.480347,133.274048,23.308718,113.795822,125.024078,16.595261,-206.438873,122.871719,10.986378,487.459625,47.151196
8,5,0.014000,15.086143,363.481232,133.276688,23.309669,113.802116,125.029427,16.594145,-206.433853,122.873718,10.997876,487.471039,47.189724
9,6,0.017000,15.095921,363.482300,133.276367,23.309832,113.800858,125.029846,16.593649,-206.436523,122.874031,10.998254,487.470795,47.195679
10,7,0.019000,15.087292,363.484192,133.270782,23.310333,113.797493,125.024513,16.592482,-206.433838,122.872742,11.000555,487.466064,47.189831
11,8,0.022000,15.089316,363.486298,133.271210,23.306435,113.803391,125.023155,16.598106,-206.442947,122.866081,10.995524,487.460968,47.166897
12,9,0.025000,15.090213,363.487061,133.269821,23.308016,113.802750,125.022545,16.596743,-206.442398,122.866180,10.978671,487.443146,47.135193

In [4]:
testDF = DTS2_10_23TireOnMocap[1]

In [5]:
testDF.columns

Index(['Frame', 'Time (sec)', 'Unlabeled 1231 X', 'Unlabeled 1231 Y',
       'Unlabeled 1231 Z', 'Unlabeled 1232 X', 'Unlabeled 1232 Y',
       'Unlabeled 1232 Z', 'Unlabeled 1233 X', 'Unlabeled 1233 Y',
       'Unlabeled 1233 Z', 'Unlabeled 1234 X', 'Unlabeled 1234 Y',
       'Unlabeled 1234 Z'],
      dtype='object')

In [6]:
count = 0
markerName = ''
threeCount = 0
newCols = {}
firstRow = np.array(testDF.iloc[0])
for col in testDF.columns:
    if(count < 2):
        if(count == 0):
            newCols['Unnamed: 0'] = 'Frame'
        else:
            newCols['Name'] = 'Time (sec)'
    else:
        if(threeCount == 0):
            markerName = col
            print(markerName)
            newCols[col] = col + " " + firstRow[count]
            print(firstRow[count])
            threeCount = threeCount+1
        else:
            if(threeCount == 2):
                threeCount = -1
            print(markerName)
            newCols[col] = markerName +  " " + firstRow[count]
            print(firstRow[count])
            threeCount = threeCount+1
        #print(col)
        #print(firstRow[count])
    count = count+1

Unlabeled 1231 X
15.094822
Unlabeled 1231 X
363.485168
Unlabeled 1231 X
133.272308
Unlabeled 1232 X
23.314857
Unlabeled 1232 X
113.798790
Unlabeled 1232 X
125.022560
Unlabeled 1233 X
16.597002
Unlabeled 1233 X
-206.439743
Unlabeled 1233 X
122.868553
Unlabeled 1234 X
10.931995
Unlabeled 1234 X
487.412384
Unlabeled 1234 X
47.026337

In [ ]:
testDF = testDF.rename(columns=newCols, errors="raise")
testDF

In [ ]:
testDF = testDF.drop(index=2)
testDF

In [ ]:
frameArray = np.array(testDF['Frame'])
testDF1 = testDF.reindex(frameArray)

In [ ]:
testDF1